<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container" style="position: relative; min-height: 100vh;">
<app-header></app-header>
<app-navbar></app-navbar>
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-container" style="padding-bottom: 2.5rem;" >
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
        
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->

            <router-outlet></router-outlet>
            <!-- 
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            This is some text within a card block.
                        </div>
                    </div>
                </div>
            </div> 
            -->
            <!-- ============================================================== -->
            <!-- End Page Content -->
            <!-- ============================================================== -->
        </div>
        <!--End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!--End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<app-footer></app-footer>