<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

        

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-left" style="background-color: rgba(0, 0, 0, 0.212);">
      <a class="footer-logo">
        <img src="../../assets/images/aseisthmus.png" width="240" height="150">  
      </a>
    </div>
    <div class="footer-copyright text-left" style="background-color: rgba(0, 0, 0, 0.212);">© 2021 3Pillar Global, Inc. ® All rights reserved
    </div>
    <div class="footer-copyright text-right" style="background-color: rgba(0, 0, 0, 0.212);">
      <a class="text-white text-right" href="https://www.3pillarglobal.com">3 Pillar Global</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
