<footer class="page-footer">
  <br/>
    <div class="footer-copyright text-center">
      <a class="footer-logo">
        <h2>3Pillar logo Here!</h2>
        <!-- <img src="../../assets/images/aseisthmus.png" width="120" height="75">  -->
      </a>
    </div>
    <div class="footer-copyright text-center">
       © 2021 3Pillar Global, Inc. ® All rights reserved
    </div>
    <!-- <div class="footer-copyright text-right">
      <a class="text-white text-right" href="https://www.3pillarglobal.com">3 Pillar Global
    </div> -->
    <br/>
</footer>

