  .calendar{
    width: 90%;
    margin: auto;
  }

  h3 {
      margin: 0 0 10px;
    }

  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  header {
    background-color: #f1bb40;
  }

  .Headerbackground {
    background-color:#f6a828;
    color:#FFFF;
    padding:10px;
    }

/*      .calendar.cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
      color: rgb(210, 77, 255) !important;
      visibility: visible;
    }  */

    .text-center {
      background: linear-gradient(180deg, #f6a828 50%, #e78f08 50%);
      border-radius: 1%;
      align-items: center;
    }

    .header {
      color: white;
      text-align: center;
    }

    .btn-month-pre{
      background-color: transparent;
      border-color: white;
      color: white;
      float: left;
   }

    .btn-month-next{
       background-color: transparent;
       border-color: white;
       color: white;
       float: right;
    }

    .btn-month-pre:hover,.btn-month-next:hover{
      background-color: white ;
      border-color: white;
      color: black;
      opacity: 0.5;
      font-weight: bold;
    }

    .btn-clear {
      background-color: transparent;
      border-color: #005cbf;
      color: #0062cc;
    }

    .btn-clear:hover {
      background-color: #0062cc;
      border-color: #005cbf;
      color: white;

    }

    .half-day{
      background: linear-gradient(45deg, #D24DFF 50%, #7B7B7B 50%) !important;
    }




  /*clicked day
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
    border-right: solid;
*/

