<div class="pos-f-t">
  <nav class="navbar-light" style="background-color: rgba(0, 0, 0, 0.212);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <a class="navbar-logo" href="#">
        <img src="../../assets/images/logo_banner.png" width="240" height="50">  
      </a>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="nav-item" style="background-color: rgba(0, 0, 0, 0.212);">
      <a class="nav-link" href="/reserve">Reserve Now</a>
    </div>
    <div class="nav-item" style="background-color: rgba(0, 0, 0, 0.212);">
      <a class="nav-link" href="/myreservations">My Reservations</a>
    </div>
    <div class="nav-item" style="background-color: rgba(0, 0, 0, 0.212);">
      <a class="nav-link" href="/account">My Account</a>
    </div>
  </div>
</div>