.navbar-light  {
  padding-left: 10px;
   background-color: #011f44;
   position: relative;
}
.nav-item {
   background-color: #021b3d;
   border: 1px solid #011f44;
}

.nav-link {
   color: white;
}

.nav-link:hover{
   color: #f6a828;
}
.userPhoto{
   z-index: 3;
   width: 60px;
   height: 60px;
   position: absolute;
   top: 15px;
   right: 30px;
}
.userPhoto>img{
   width: 60px;
   height: 60px;
   border-radius: 60px;
   overflow: hidden;
}

.login{
   width: 60px;
   height: 60px;
   position: absolute;
   top: 25px;
   right: 30px;
}

.izq{
  position: absolute;
  top: 88.5px;
  left: -70px;
}

.userPhoto>span{
   position: absolute;
   top:65px;
   color: aliceblue;
   left: -140px;
}