.bg-transparent {
  background-color: transparent;
}

:host {
  height: 100%;
}

.photo {
  object-fit: contain;
}

.card {
  width: 20rem;
  margin: 0 auto;
}

.login{
  width: 90%;
  margin: auto;
}

.states{
  text-transform: uppercase;
  display: flex;
}

.header{
  font: 300 22px/22px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #383838;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 14px;
  border-bottom: 1px solid #cfcfcf;
  margin: 0 0 15px 0;
}
