
<!-- Intro Section -->
 <!-- <section id="demo" class="demo-section">
  <app-login></app-login>-->
  <!-- <app-parameters></app-parameters> -->
   <!--<app-reserve></app-reserve>
</section>  -->

<router-outlet></router-outlet>

<div bsModal #logoutModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Attention</h5>
      </div>
      <div class="modal-body">
        {{idleState}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="logout()">Sign Out</button>
        <button type="button" class="btn btn-primary" (click)="stay()">Stay</button>
      </div>
    </div>
  </div>
</div>
