<div class="reservations">

    <h2 class="header">My Reservations</h2>
    <div class="states">
        <div><i style="color:#00B309" class="fa fa-square"></i>&nbsp;Active</div>
        <div><i style="color:#2465FC;" class="fa fa-square"></i>&nbsp;Confirmed</div>
        <div><i style="color:#7B7B7B" class="fa fa-square"></i>&nbsp;Processed</div>
        <div><i style="color:#FF4144;" class="fa fa-square"></i>&nbsp;Waiting transfer confirmation</div>
    </div>
    <div style="margin-bottom:20px; margin-top:10px">
        <i class="fa fa-check"></i>&nbsp;You can cancel your active reservations without any charge<br>
        <i class="fa fa-check"></i>&nbsp;Reservations within 3 days prior to arrival are consider as confirmed and cannot be canceled<br>
        <i class="fa fa-check"></i>&nbsp;You can transfer to other users your active and confirmed reservations at any time<br>
    </div>
    <br />
    <h2>[My Reservations] it's gonna be here!</h2>
    <br /><br />
    
</div>
