/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/*overrides calendar styles*/
@mixin cal-cell-background($color1:#D24DFF, $color2:#D24DFF, $degree:135){   
    .cal-month-view .cal-cell.cal-has-events {
        background: linear-gradient(135deg, $color1 50%, $color2 50%);  
    }
}

/*Calendar edits*/

.calendar .cal-month-view .cal-day-badge {
    display: none;
  }

.cal-month-view .cal-day-number{
    opacity: 1;
    /* font-weight: bold; */
  }

.cal-month-view .cal-cell .cal-event {
    display: none;
 }  

 .cal-month-view .cal-day-cell {
    /* background-color: rgb(210, 77, 255) !important; */
    visibility: visible;
  } 

  .cal-month-view .cal-cell-row .cal-cell:hover,
  .cal-month-view .cal-cell.cal-has-events.cal-open {
    /* background: linear-gradient(135deg, #D24DFF 50%, #7B7B7B 50%);   */
    @include cal-cell-background();
} 

.cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
   /*  background: linear-gradient(135deg, #D24DFF 50%, #7B7B7B 50%);*/
    background-color: #7B7B7B;
} 

.cal-month-view .cal-day-cell.cal-in-month{
    background-color: #D24DFF;
}   

/* 
    .calendar.cal-month-view {
      background-color: #ff0101; }
 
    .cal-cell-row .cal-cell:hover,
    .cal-cell.cal-has-events.cal-open {
      background-color: red;
    }

     .cal-days{
      background-color: #D24DFF;
      background: linear-gradient(45deg, #D24DFF 50%, #7B7B7B 50%); 
      
    } 
    
    .cal-has-events{
      background-color: seagreen;
    } 

    .calendar.mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-past.cal-in-month.cal-has-events.ng-star-inserted{
     
       background-color: #ff0101; 
  }
   
 .cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
  background-color: seagreen;
}
  
.cal-cell.cal-day-cell.cal-future.cal-weekend.cal-in-month.ng-star-inserted.cal-has-events {
  background-color: yellow;
}

.cal-event-highlight{
  background-color: blue;
}

.calendar.mwl-calendar-month-cell.cal-cell.cal-day-cell.cal-past.cal-weekend.cal-in-month.ng-star-inserted.cal-has-events.cal-open {
  background-color: blue;
}

.cal-cell-row.cal-cell:hover,
    .cal-cell.cal-has-events.cal-open {
      background-color: blue;
    }
 
    .cal-month-view.cal-days {
      background-color: chocolate;
    }

    .cal-month-view.cal-cell.cal-has-events.cal-open {
      background-color: #ff0101;
  }*/



 