<div class="calendar">
  <div class="row text-center">
      <div class="col-md-4">
          <div class="btn btn-month-pre" mwlCalendarPreviousView
            [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"
          >
            Previous
          </div>
      </div>
      <div class="col-md-4 header">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn btn-month-next" mwlCalendarNextView
          [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>    
    </div>
    <br />
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-month-view>
    </div>
    <br/>
     <div class="btn btn-clear" [disabled]="!clear">Clear Selection </div>
    <!--<div class="btn btn-primary" (click)="setDates()">Get Dates!</div> -->
    &nbsp;
    <div class="btn-group">
      <div class="btn btn-primary" mat-button (click)="reservePopUp()">Reserve Date </div>
      <div class="btn btn-danger" mat-button (click)="cancelPopUp()">Cancel Reservation</div>
    </div>
    <br/>
</div>
  <!-- <p>Available Dates</p>
  {{availableDates | json}} -->
  
